//
// Grid system
// --------------------------------------------------

@require 'mixins/grid'

.container
    container-fixed()
    width: 100%

.row
    make-row()

make-columns()

make-columns('push')

make-columns('pull')

make-columns('offset')