//
// Grid system
// --------------------------------------------------

$-grid-gutter-width = 10px
$-grid-columns = 12

@require 'mixins/grid'

.container
    container-fixed($-grid-gutter-width)
    width: 100%

.row
    make-row($-grid-gutter-width)

make-columns($-grid-gutter-width, $-grid-columns)